<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="modal fade" id="Departamentos" tabindex="-1" role="dialog" aria-labelledby="Crear-Departamentos" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crear-Departamentos">Departamentos</h5>
            </div>
            <div class="modal-body">
                <label>Ingrese el Departamento</label>
                <input type="text" name="txtDeptos" id="txtDeptos" class="form-control" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a id="btn-insertar" onclick="Insertar()" class="btn btn-danger">Insertar</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CrearDepartamentos.js"></script>
