

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .modal-header, h4 {
        background-color: #ffffff;
        /*color: white !important;*/
        text-align: center;
        font-size: 22px;
    }

    .modal-footer {
        background-color: white;
    }
</style>
@Html.AntiForgeryToken();
<div class="modal fade" id="Usuarios" tabindex="-1" role="dialog" aria-labelledby="Crear-Usuarios" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="crear-usuarios">Añadir Usuarios</h4>
                <img src="https://cdn.dribbble.com/users/1200451/screenshots/8759739/ezgif.com-optimize.gif" width="150" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label style="color:black">Nombre de usuario</label><label id="labelusu" name="labelusu" style="color:red"></label>
                        <input type="text" name="txtUsuario" id="txtUsuario" class="form-control" style="border-color:black" />
                    </div>
                    <div class="col-sm-6">
                        <label style="color:black">Clave</label><label id="labelclave" name="labelclave" style="color:red"></label>
                        <input type="text" id="txtClave" name="txtClave" class="form-control" style="border-color:black">
                    </div>
                </div> <br />
                       <div class="row">
                           <div class="col-sm-5">
                               <label style="color:black">Empleado</label><label id="labelemp" name="labelemp" style="color:red"></label>
                               <select id="emp_Id" name="emp_Id" class="form-control" style="border-color:black"></select>
                           </div>
                           <div class="col-sm-2">
                               <label style="color:black" hidden >Es Admin</label><label hidden id="labeladmin" name="labeladmin" style="color:red"></label> <br /> <br />
                               <div class="text-center">
                                   <input type="checkbox" name="ckEsAdmin" id="ckEsAdmin" style="border-color:black" hidden />
                               </div>
                           </div>

                         


                    <div class="col-sm-5">
                        <label style="color:black">Rol</label><label id="labelcargo" name="labelcargo" style="color:red"></label>
                        <select id="rol_ID" name="rol_ID" class="form-control" style="border-color:black"></select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a id="btn-insertar" onclick="Insertar()" class="btn btn-warning">Insertar</a>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/CrearUsuario.js"></script>
