<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .modal-header, h4 {
        background-color: #ffffff;
        /*color: white !important;*/
        text-align: center;
        font-size: 22px;
    }

    .modal-footer {
        background-color: white;
    }
</style>
<div class="modal fade" id="Articulos" tabindex="-1" role="dialog" aria-labelledby="Crear-Articulos" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
                <h4>Añadir Articulos</h4>
                <img src="https://cdn.dribbble.com/users/1200451/screenshots/8759739/ezgif.com-optimize.gif" width="150" />
            </div>
            <div class="modal-body" style="padding:40px 50px;">

                <label id="lblArticulo" style="color:red; display:none">*</label>
                <label style="color:black; font-size:15px">Ingrese el artículo</label><br />
                <input type="text" name="txtArt" id="txtArt" class="form-control" style="border-color:black" />

                <label id="lblStock" style="color:red; display:none">*</label>
                <label style="color:black; font-size:15px">Ingrese el stock</label><br />
                <input type="number" min="0" name="txtStock" id="txtStock" class="form-control" style="border-color:black" />

                <label id="lblfabrica" style="color:red; display:none">*</label>
                <label style="color:black; font-size:15px">Escoja la Fábrica</label>
                <select id="fabrica_ID" name="fabrica_ID" class="form-control" style="border-color:black">
                </select>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a id="btn-insertar" onclick="Insertar()" class="btn btn-warning">Insertar</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CrearArticulos.js"></script>
