@*@model Sistema_Envios.Models.tbClientes*@

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h2> Create </h2>

@*@using (Html.BeginForm())*@

    @*@Html.AntiForgeryToken()*@

    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <label>NOMBRE</label> <label style="color:red" id="lblNombre">El campo es requerido!!</label>
                    <input type="text" id="txtNombre" name="txtNombre" class="form-control" />
                </div>


                <div class="col-sm-6">
                    <label>IDENTIDAD</label>  <label style="color:red" id="lblIdentidad">El campo es requerido!!</label>
                    <input type="text" id="txtIdentidad" name="txtIdentidad" class="form-control" maxlength="15" />
                </div>

                <div class="col-sm-6">
                    <label>ESTADO CIVIL</label>
                    <select id="Id_Estado" name="Id_Estado" class="form-control"> </select>
                </div>

                <div class="col-sm-6">
                    <label>SEXO</label>  <label style="color:red" id="lblSexo">El campo es requerido!!</label>

                    <br />
                    <input type="radio" id="drf" name="drfm" value="F" />Femeino
                    <input type="radio" id="drm" name="drfm" value="M" />Masculino

                </div>
                <div class="col-sm-6">
                    <label>SALDO</label>  <label style="color:red" id="lblSaldo">El campo es requerido!!</label>
                    <input type="text" id="txtSaldo" name="txtSaldo" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label>CREDITO</label> <label style="color:red" id="lblCredito">El campo es requerido!!</label>
                    <label style="color:red" id="lblAlertaCredito">Ha superado el limite de credito!!</label>
                    <input type="text" id="txtCredito" name="txtCredito" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label>DESCUENTO</label>  <label style="color:red" id="lblDescuento">El campo es requerido!!</label>
                    <input type="text" id="txtDescuento" name="txtDescuento" class="form-control" />
                </div>
                <div class="col-sm-6">
                    <label>TELEFONO</label>  <label style="color:red" id="lblTelefono">El campo es requerido!!</label>
                    <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" />
                </div>
            </div>
        </div>



        <div class="card-footer" style="color:goldenrod">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="GUARDAR" class=" btn btn-success" onclick="Guardar()" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/CrearClientes.js"></script>


@*}*@

<div>
    @Html.ActionLink("Back to List", "Index")
</div>