
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:orange">
                <h5 class="modal-title" id="confirm-delete-modal-label" style="color:white"><strong>Advertencia</strong></h5>
            </div>
            <div class="modal-body" style="text-align:center">
                <h3><strong>Si elimina este registro, eliminará todos los datos relacionados a este.</strong></h3>
                <img src="~/Content/iMG/ALERTAAA.png" width="100" />
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-modal" class="btn btn-secondary">Cancelar</button>
                <a href="#" id="btn-confirm-delete" class="btn btn-danger" onclick="Borrar()">Eliminar</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/EliminarCliente.js"></script>

