
@{
    ViewBag.Title = "Principal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Bienvenido! <strong>ENVÍOS CAS</strong></h2>
<div class="swiffy-slider">
    <ul class="slider-container" style="background-color:gray">
        <li><img src="https://www.globalpaq.com/img/img-index-reparto-copia3.png" style="max-width: 100%;height: auto;"></li>
        <li><img src="https://d1ih8jugeo2m5m.cloudfront.net/2021/03/como-hacer-envios.jpg" style="max-width: 100%;height: auto;"></li>
        <li><img src="https://www.imexcourier.com.ar/wp-content/uploads/2020/01/envios.jpg" style="max-width: 100%;height: auto;"></li>
    </ul>

    <button type="button" class="slider-nav"></button>
    <button type="button" class="slider-nav slider-nav-next"></button>

    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
    </div>
</div>

