<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    .modal-header, h4 {
        background-color: #ffffff;
        /*color: white !important;*/
        text-align: center;
        color:black;
        font-size: 22px;
    }

    .modal-footer {
        background-color: white;
    }
</style>
<div class="modal fade" id="Direc" tabindex="-1" role="dialog" aria-labelledby="Crear-Direc" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="padding:30px 50px;">
                <h3 class="modal-title" id="crear-Direc">Añadir Direcciones</h3>
                <img src="https://cdn.dribbble.com/users/1200451/screenshots/8759739/ezgif.com-optimize.gif" width="150" />
            </div>
            <div class="modal-body" style="padding:40px 50px; background-color:white">

                <label style="color:black; font-size:15px">Escoga el cliente</label>
                <select id="client_ID" name="client_ID" class="form-control" style="border-color:black"></select>

                <label style="color:black; font-size:15px">Ingrese la dirección exacta</label>
                <input type="text" name="txtDirec" id="txtDirec" class="form-control" style="border-color:black" />

                <label style="color:black; font-size:15px">Escoga el Departamento</label>
                <select id="dep_ID" name="dep_ID" class="form-control" style="border-color:black"></select>

                <label style="color:black; font-size:15px">Escoga la Ciudad</label>
                <select id="ciu_ID" name="ciu_ID" class="form-control" style="border-color:black"></select>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelar" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a id="btn-insertar"  class="btn btn-warning">Insertar</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/CrearDirecciones.js"></script>